
header {
  font-size: 1.1429em;
  background: url("img/bg/header-bg-lg.jpg") no-repeat center 0 / cover;
  color: #fff;
  @include respond-to(small-desktops) {
    background: url("img/bg/header-bg-md.jpg") no-repeat center 0 / cover;
  }
  @include respond-to(tablets) {
    background: url("img/bg/header-bg-sm.jpg") no-repeat center 0 / cover;
    font-size: 1em;
  }
  @include respond-to(all-handhelds) {
    background: url("img/bg/header-bg-xs.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }
  #logo-and-contacts {
    padding-top: 15px;
    @include respond-to(full-hd) {
      padding-top: 70px;
    }
  }
  a, a:link, a:visited, a:hover, a:focus, a:active {
    color: #fff;
    outline: none;
  }
  a.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  #logo {
    text-transform: uppercase;
  }
  .title {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.42857;
    margin: 0;
  }
  .contacts {
    font-weight: 300;
    @include respond-to(all-handhelds) {
      margin-top: 10px;
    }
    &:last-child {
      text-align: right;
      @include respond-to(all-handhelds) {
        text-align: center;
      }
    }
  }
  nav {
    margin-top: 15px;
    @include respond-to(full-hd) {
      margin-top: 50px;
    }
  }
  .about {
    margin-top: 110px;
    @include respond-to(tablets) {
      margin-top: 120px;
    }
    @include respond-to(full-hd) {
      margin-top: 190px;
    }
    @include respond-to(all-handhelds) {
      margin-top: 20px;
    }
    .name {
      font-size: 60px;
      font-weight: 700;
      @include respond-to(small-desktops) {
        font-size: 50px;
      }
      @include respond-to(tablets) {
        font-size: 40px;
      }
      @include respond-to(all-handhelds) {
        font-size: 34px;
      }
    }
    .services {
      font-size: 35px;
      color: #f7f7f7;
      @include respond-to(small-desktops) {
        font-size: 30px;
      }
      @include respond-to(tablets) {
        font-size: 22px;
      }
      @include respond-to(all-handhelds) {
        font-size: 18px;
      }
    }
  }
  #practice {
    margin-top: 70px;
    @include respond-to(full-hd) {
      margin-top: 140px;
    }
    @include respond-to(small-desktops) {
      margin-top: 50px;
    }
    @include respond-to(tablets) {
      margin-top: 50px;
    }
    @include respond-to(all-handhelds) {
      margin-top: 50px;
    }
    .more-link-wrapper {
      margin: 10px 0;
    }
    .more-link {
      color: #333;
      padding: 4px 10px;
    }
    h4.last {
      margin-top: 20px;
    }
  }
}