
#services-for-individual {
  ul {
    margin-top: 40px;
    padding: 0;
    li {
      list-style-type: none;
      height: 56px;
      margin-top: 10px;
      @include respond-to(all-handhelds) {
        margin-top: 30px;
        height: 100px;
      }
      h4 {
        line-height: 1.42857;
        a {
          color: #333;
        }
      }
      .media-body, .media-left, .media-right {
        @include respond-to(all-handhelds) {
          display: block;
        }
      }
      .media-body {
        @include respond-to(all-handhelds) {
          width: auto;
          margin-top: 5px;
        }
      }
    }
    li[class*=col-xs-] {
      @include respond-to(handhelds) {
        width: 100%;
      }
      @include respond-to(narrow-handhelds) {
        width: 100%;
      }
    }
  }
}

#what-for {
  background: #f7f7f7;
  margin-top: 50px;
  padding: 50px 0;
  .container {
    position: relative;
  }
  .icon-arrow-left, .icon-arrow-right {
    position: absolute;
    opacity: .6;
    cursor: pointer;
    @include respond-to(narrow-handhelds) {
      display: none;
    }
    &:hover {
      opacity: .8;
    }
  }
  .icon-arrow-left {
    left: 15px;
  }
  .icon-arrow-right {
    right: 15px;
  }
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .content {
    font-size: 16px;
    margin-top: 70px;
    @include respond-to(all-handhelds) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-to(handhelds) {
      width: 70%;
    }
    @include respond-to(narrow-handhelds) {
      width: 90%;
    }
  }
}

#map {
  height: 400px;
}

.home #content {
  padding-bottom: 0;
}